<!DOCTYPE html>
<html>
  <head>
    <title>Peitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <h1><%=link_to "Peitter", posts_path, class:"logo"%></h1>
        <ul class="navbar">
          <% if current_user %>
            <li class="nav-item"><%=link_to "投稿一覧", posts_path %></li>
            <% if current_user.admin? %>
              <li class="nav-item"><%=link_to "ユーザー一覧", admin_users_path %></li>
            <% end %>
            <li class="nav-item"><%= button_to "ログアウト", logout_path, method: :delete, class:"logout" %></li>
          <% else %>
            <li class="nav-item"><%=link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="wrapper">
        <p>copylight penpy</p>
      </div>
    </footer>
  </body>
</html>
